*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
.header-image {
    background-image: url("../images/apple-pie.jpg");
    background-size: 1550px 800px;
    height: 620px ;
    width: 1515px;
    margin: 0px 0px 100px 0px;
}
.header-text {
    color: white;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
}
.intro {
    margin:30px 165px;
    font-size: 30px;
    text-align: center;
    color: rgb(119, 117, 117);
}
p{
    margin: 30px ;
}
.intro img {
    padding:30px;
    width:550px;

}
.recipe {
    margin:30px 165px;
    font-size: 30px;
    text-align: center;
    color: rgb(119, 117, 117);
    padding:30px;
}
h3 {
    margin: 80px 165px 40px 165px;
    color: rgb(119, 117, 117);
    font-size: 30px;

}
.list1 {
    margin: 20px 165px;
    list-style-type: none;
    color: rgb(119, 117, 117);
    font-size: 25px;

}

.listyle {
    padding: 10px;
    line-height: 5mm;
}

.listyle2 {
    line-height: 10mm;
    padding: 15px;
}


br {
    height: 500px;
}